.header {
	width: 100%;
	height: 120px;
	// border: 1px solid black;
}

.mainLabel {
	width: 100%;

	.slideshow {
		width: 74.5%;
		margin: auto;
	}
}

@media (max-width: 1920px) {
	main {
	
		.slideshow {
			width: 76.6%;
			margin: auto;
		}
	}
}