@use "../colorsAndFonts" as *;

// ANIMATIONS
@keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes trasparentToWhiteBg {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: white;
	}
}

@keyframes latLineMoving {
	0% {
		top: 150%;
	}
	100% {
		top: -65px;
	}
}

@keyframes horizLineMoving {
	0% {
		left: 200%;
	}
	100% {
		left: -80px;
	}
}

.mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65%;
	margin: auto;
	height: calc(100vh - 340px);
	background-color: white;
	background-image: url("/backgrounds/graph_paper1.jpg");
	background-repeat: repeat-x;
	background-size: cover;
}

.frameBgAnimation {
	animation: trasparentToWhiteBg 1s forwards;
	animation-delay: 1s;
}

.frame {
	position: relative;
	width: 440px;
	height: 230px;
	padding: 2rem 2.5rem;
	font-family: "Roboto Condensed", sans-serif;
	text-align: center;

	.header {
		font-size: 2.1rem;
		font-weight: 800;
		color: $Text_Important;
		margin-bottom: 1.5rem;
		opacity: 0%;
	}

	.subHeader {
		font-size: 1.3rem;
		font-weight: 800;
		color: $Text_Paragraph;
		font-family: "PT Sans", sans-serif;
		opacity: 0%;
	}

	.mailParagraph {
		font-size: 1.3rem;
		margin-top: 2rem;
		opacity: 0%;

		.mailLink {
			font-weight: 600;
			color: $Black;
			text-decoration: none;
		}
	}

	.textAnimation {
		animation: fadeIn 1s forwards;
		animation-delay: 1.5s;
	}

	img {
		position: absolute;
	}

	.lineLatLeft,
	.lineLatRight {
		top: -65px;
		height: 365px;
		width: 15px;
	}

	.lineLatLeft {
		left: -9px;
	}

	.lineLatRight {
		right: -9px;
	}

	.lineLatAnimation {
		animation: latLineMoving 1.5s forwards;
	}

	.lineSuper,
	.lineInfer {
		width: 600px;
		height: 10px;
		left: -80px;
	}

	.lineSuper {
		top: -8px;
	}

	.lineInfer {
		bottom: -6px;
	}

	.lineSuperInferAnimation {
		animation: horizLineMoving 1.5s forwards;
	}
}

///////////////////////////////////////////////////////////////////////////////////////////////// MEDIA QUERIES

@media (min-width: 2200px) {
	.mainContainer {
		height: calc(100vh - 230px);
	}

	.frame {
		width: 800px;
		height: 418px;
		padding: 3rem 3rem;

		.header {
			font-size: 4rem;
			margin-bottom: 2.5rem;
		}

		.subHeader {
			font-size: 2.5rem;
		}

		.mailParagraph {
			font-size: 2.5rem;
			margin-top: 4rem;
		}

		.lineLatLeft,
		.lineLatRight {
			top: -65px;
			height: 550px;
			width: 20px;
		}

		.lineLatLeft {
			left: -10px;
		}

		.lineLatRight {
			right: -10px;
		}

		.lineSuper,
		.lineInfer {
			width: 950px;
			height: 20px;
			left: -80px;
		}

		.lineSuper {
			top: -10px;
		}

		.lineInfer {
			bottom: -7px;
		}
	}
}

@media (min-width: 3000px) {
	.mainContainer {
		height: calc(100vh - 250px);
	}

	.frame {
		width: 1400px;
		height: 731px;
		padding: 5rem 5rem;

		.header {
			font-size: 6.5rem;
			margin-bottom: 5rem;
		}

		.subHeader {
			font-size: 4rem;
		}

		.mailParagraph {
			font-size: 4rem;
			margin-top: 8rem;
		}

		.lineLatLeft,
		.lineLatRight {
			height: 880px;
			width: 25px;
		}

		.lineSuper,
		.lineInfer {
			width: 1580px;
			height: 25px;
		}

		.lineSuper {
			top: -13px;
		}
	}
}

@media (orientation: portrait) {
	.mainContainer {
		align-items: flex-start;
		height: 80vh;
	}

	.frame {
		margin-top: 12vh;
	}
}

@media (max-width: 1250px) {
	.mainContainer {
		width: 80%;
	}
}

@media (max-width: 500px) {
	.mainContainer {
		width: 100%;
	}

	.frame {
		width: 270px;
		height: 220px;
		padding: 1.5rem 2rem;

		.header {
			font-size: 1.8rem;
			margin-bottom: 1rem;
		}

		.subHeader {
			font-size: 1.2rem;
		}

		.mailParagraph {
			font-size: 1.3rem;
			margin-top: 1.5rem;
		}

		.lineLatLeft,
		.lineLatRight {
			height: 335px;
		}

		.lineSuper,
		.lineInfer {
			width: 420px;
		}
	}
}

@media (max-width: 350px) {
	.mainContainer {
		width: 100%;
	}

	.frame {
		width: 260px;
		height: 215px;
		padding: 1.5rem 2rem;

		.header {
			font-size: 1.8rem;
			margin-bottom: 1rem;
		}

		.subHeader {
			font-size: 1.2rem;
		}

		.mailParagraph {
			font-size: 1.3rem;
			margin-top: 1.5rem;
		}

		.lineLatLeft,
		.lineLatRight {
			height: 335px;
		}

		.lineSuper,
		.lineInfer {
			width: 450px;
		}
	}
}

@media (max-height: 650px) {
	.mainContainer {
		height: 90vh;
	}

	.frame {
		width: 290px;
		height: 170px;
		padding: 1rem 1.2rem;

		.header {
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}

		.subHeader {
			font-size: 1rem;
		}

		.mailParagraph {
			font-size: 1.1rem;
			margin-top: 1.5rem;
		}

		.lineLatLeft,
		.lineLatRight {
			height: 280px;
		}

		.lineSuper,
		.lineInfer {
			width: 450px;
		}
	}
}

@media (max-height: 380px) {
	.mainContainer {
		height: 90vh;
	}

	.frame {
		width: 425px;
		height: 120px;
		padding: 0.8rem 1rem;
		margin-top: -1.4rem;

		.header {
			font-size: 1.5rem;
			margin-bottom: 0.8rem;
		}

		.subHeader {
			font-size: 1rem;
		}

		.mailParagraph {
			font-size: 1.1rem;
			margin-top: 1.2rem;
		}

		.lineLatLeft,
		.lineLatRight {
			height: 230px;
		}

		.lineSuper,
		.lineInfer {
			width: 570px;
		}
	}
}
