$Text_Important: rgb(70,111,169);
$Text_Paragraph: rgb(118, 117, 117);

// ANIMATIONS
@keyframes fadeIn {
	0% { opacity: 0%;}
	100% {opacity: 100%;}
}

@keyframes trasparentToWhiteBg {
	0% {background-color: transparent;}
	100% {background-color: white;}
}

@keyframes latLineMoving {
	0% {top: 150%}
	100% {top: -65px}
}

@keyframes horizLineMoving {
	0% {left: 200%}
	100% {left: -80px}
}

.mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65%;
	margin: auto;
	height: calc(100vh - 97px);
	background-color: white;
	background-image: url("@/gaph_paper1.jpg");
	background-repeat: repeat-x;
	background-size: cover;
}

.frameBgAnimation {
	animation: trasparentToWhiteBg 1s forwards;
	animation-delay: 1s;
}

.frame {
	position: relative;
	padding: 3.5rem;
	font-family: 'PT Sans', sans-serif;
	text-align: center;

	.header {
		font-size: 2rem;
		font-weight: 800;
		color: $Text_Important;
		margin-bottom: 2rem;
		opacity: 0%;
	}
	
	.phoneMail {
		font-size: 1.3rem;
		font-weight: 600;
		color: $Text_Paragraph;
		margin-top: 1rem;
		opacity: 0%;
	}

	.textAnimation {
		animation: fadeIn 1s forwards;
		animation-delay: 1.5s;
	}

	img {
		position: absolute;
	}

	.lineLatLeft, .lineLatRight {
		top: -65px;
		height: 365px;
		width: 15px;
	}

	.lineLatLeft {
		left: -9px;
	}

	.lineLatRight {
		right: -9px;
	}

	.lineLatAnimation {
		animation: latLineMoving 1.5s forwards;
	}

	.lineSuper, .lineInfer {
		width: 600px;
		height: 10px;
		left: -80px;
	}

	.lineSuper {
		top: -8px;
	}

	.lineInfer {
		bottom: -6px;
	}

	.lineSuperInferAnimation {
		animation: horizLineMoving 1.5s forwards;
	}
}
