@use "../../colorsAndFonts" as * ;

@keyframes headersAnimation {
	from {
		left: 150%
	}
	to {
		left: 0%;
	}
}

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	width: 100%;
	padding: 3rem;
	background-color: white;
	background-image: url("@/backgrounds/bg-pattern-top-desktop-medium.svg");
	background-size: cover;
	background-position: 60%;
	font-family: 'PT Sans', sans-serif;
}

.h1Header {
	align-self: flex-start;
	padding: 1rem 1rem 1rem 5.7rem;
	margin-left: -6rem;
	font-size: 3rem;
	color: $Text_Important;
	background-color: rgb(242, 242, 242);
	border-radius: 20px;
	box-shadow: 4px 2px 8px rgba(120, 120, 120, 0.75);
}

.h2Header {
	position: relative;
	left: 110%;
	width: 120%;
	padding: 2rem;
	margin: 6rem 0rem 3rem 0rem;
	font-size: 1.7rem;
	font-weight: 600;
	text-align: center;
	color: $Text_Important;
	background-color: rgb(242, 242, 242);
	box-shadow: 4px 3px 8px rgba(120, 120, 120, 0.75);
}

.animatedH2Header {
	animation: headersAnimation 1s forwards;
}

.proyectCardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 1rem;
	width: 100%;

	.proyectCardComponent {
		width: 32%;
		height: 30vh;
	}
}