@use "../../colorsAndFonts" as * ;

@keyframes nextImgAnimation {
	0% {margin-right: 0%;}
	100% {margin-right: 200%;}
}

@keyframes prevImgAnimation {
	0% {margin-left: 0%;}
	100% {margin-left: 200%;}
}


.mainContainer {
	position: fixed;
	top: 0%;
	left: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $BlackTransparent;
	z-index: 1;
}

.imageContainer {
	position: relative;
	width: 800px;
	height: 500px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("@/backgrounds/gruas-1.jpg");
}

.filter {
	position: absolute;
	top: 0%;
	left: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(3px) brightness(50%);
	overflow: hidden;
	width: 800px;
	height: 500px;
	border-radius: 10px;
	border: 2px solid $White;

	.mainImg, .prevImg, .nextImg {
		width: 800px;

		img {
			width: 800px;
		}
	}

	.prevImgAnimated {
		animation: prevImgAnimation 400ms forwards;
	}

	.nextImgAnimated {
		animation: nextImgAnimation 400ms forwards;
	}

	.buttonPrev, .buttonNext {
		position: absolute;
		top: 45%;
		padding: 1rem;
		background-color: $BlackVeryTransparent;
		color: $White;
		font-size: 25px;
		font-weight: 800;
		cursor: pointer;
		border: none;
		transition-property: background-color border;
		transition-duration: 300ms;

		&:hover {
			background-color: $BlackTransparent;
			border: 2px solid $White;
			scale: 1.2;
		}
	}

	.buttonPrev {
		left: 0%;
	}

	.buttonNext {
		right: 0%;
	}
}

.closeIcon {
	position: absolute;
	top: -3%;
	right: -2%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	color: $White;
	font-size: 25px;
	cursor: pointer;
	border-radius: 50%;
	background-color: $Black;
	border: none;
	transition-property: border scale;
	transition-duration: 200ms;

	&:hover {
		border: 2px solid $White;
		scale: 1.2;
	}
}

.cardboardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 750px;
	height: 100px;
	background-image: url("@/backgrounds/blueprint-2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: $White;
	text-align: center;
	font-weight: 800;
	text-shadow: 1px 1px $Black;
	margin-top: 0.5rem;
	padding: 0.5rem 3.7rem 1rem 1.2rem;

	.title {
		font-size: 1.2rem;
	}

	.employer {
		font-size: 1rem;
		margin-top: 0.5rem;
	}
}





///////////////////////////////////////////////////////////////////////////////////////// MEDIA QUERIES

@media (min-width: 2200px) {
	.imageContainer {
		width: 1500px;
		height: 937.5px;
		border-radius: 15px;
	}
	
	.filter {
		width: 1500px;
		height: 937.5px;
		border-radius: 15px;
		border: 3px solid $White;
	
		.mainImg, .prevImg, .nextImg {
			width: 1500px;
	
			img {
				width: 1500px;
			}
		}
	
		.buttonPrev, .buttonNext {
			padding: 2rem;
			font-size: 50px;
		}
	}
	
	.closeIcon {
		width: 85px;
		height: 85px;
		font-size: 50px;
	}
	
	.cardboardContainer {
		width: 1400px;
		height: 200px;
		text-shadow: 1.5px 1.5px $Black;
		margin-top: 0.8rem;
		padding: 0rem 7rem 1rem 1.2rem;
	
		.title {
			font-size: 2.3rem;
		}
	
		.employer {
			font-size: 1.8rem;
			margin-top: 0.8rem;
		}
	}
}





@media (min-width: 3000px) {
	.imageContainer {
		width: 2400px;
		height: 1500px;
		border-radius: 20px;
	}
	
	.filter {
		width: 2400px;
		height: 1500px;
		border-radius: 20px;
		border: 4px solid $White;
	
		.mainImg, .prevImg, .nextImg {
			width: 2400px;
	
			img {
				width: 2400px;
			}
		}
	
		.buttonPrev, .buttonNext {
			padding: 3rem;
			font-size: 65px;
		}
	}
	
	.closeIcon {
		width: 120px;
		height: 120px;
		font-size: 70px;

		&:hover {
			border: 4px solid $White;
		}
	}
	
	.cardboardContainer {
		width: 2300px;
		height: 300px;
		text-shadow: 1.5px 1.5px $Black;
		margin-top: 1rem;
		padding: 0rem 11rem 1rem 3rem;
	
		.title {
			font-size: 3.3rem;
		}
	
		.employer {
			font-size: 2.4rem;
			margin-top: 1.4rem;
		}
	}
}





@media (max-width: 1100px) or (height < 700px) {
	
	.imageContainer {
		width: 700px;
		height: 437px;

	}
	
	.filter {
		width: 700px;
		height: 437px;
	
		.mainImg, .prevImg, .nextImg {
			width: 700px;
	
			img {
				width: 700px;
			}
		}
	
		.buttonPrev, .buttonNext {
			top: 45%;
			padding: 1.5rem;
			font-size: 35px;
		}
	}
	
	.closeIcon {
		top: -4%;
		right: -3%;
		width: 55px;
		height: 55px;
		font-size: 30px;
	}
	
	.cardboardContainer {
		width: 680px;
		height: 100px;
		margin-top: 0.5rem;
		padding: 0.5rem 3.7rem 1rem 1.2rem;
	
		.title {
			font-size: 1.1rem;
		}
	
		.employer {
			font-size: 0.9rem;
			margin-top: 0.5rem;
		}
	}
}





@media (max-width: 750px) {
	
	.imageContainer {
		width: 91vw;
		height: 65vw;

	}
	
	.filter {
		width: 91vw;
		height: 65vw;
	
		.mainImg, .prevImg, .nextImg {
			width: 91vw;
	
			img {
				width: 91vw;
			}
		}
	
		.buttonPrev, .buttonNext {
			top: 45%;
			padding: 1.5rem;
			font-size: 35px;
		}
	}
	
	.closeIcon {
		top: -6%;
		right: -3%;
		width: 40px;
		height: 40px;
		font-size: 23px;
	}
	
	.cardboardContainer {
		width: 91vw;
		height: 120px;
		margin-top: 0.5rem;
		padding: 0.5rem 3.7rem 1rem 1.2rem;
	
		.title {
			font-size: 0.9rem;
		}
	
		.employer {
			font-size: 0.8rem;
			margin-top: 0.5rem;
		}
	}
}